In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv(r"/Users/pshah/Downloads/GrainSize.csv")
data

     Integer identifying grain  ASTM grain size
0                            1             23.7
1                            2             15.7
2                            3             18.3
3                            4             15.6
4                            5             14.7
..                         ...              ...
480                        481             20.0
481                        482             20.1
482                        483             20.0
483                        484             22.7
484                        485             21.3

[485 rows x 2 columns]

In [4]:
data.columns

Index(['Integer identifying grain', 'ASTM grain size'], dtype='object')

In [5]:
data=data.sort_values('ASTM grain size')

In [6]:
data

     Integer identifying grain  ASTM grain size
58                          59              9.3
174                        175              9.4
357                        358              9.9
267                        268             10.4
417                        418             10.4
..                         ...              ...
431                        432             24.3
430                        431             24.3
134                        135             24.3
465                        466             24.3
232                        233             24.3

[485 rows x 2 columns]